# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [ ]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[-3:]

In [ ]:
# create a list of numbers from 1 to 20
b = list(range(1, 21))

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
c = [number for number in range(1, 101) if number % 2 == 0]

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def function1(num1, num2):
    if num2 == 0:
        return "Cannot divide by zero"
    else:
        return num1 / num2

In [ ]:
# write a function that takes a string as input
# and return that string in all caps
def function2(input_string):
    return input_string.upper()

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu_pricing = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [1]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
file_path = '../data/starbucks.csv'
starbucks_data = pd.read_csv(file_path)
starbucks_data.head()

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0

In [7]:
# output the calories, sugars, and protein columns only of every 40th row. 
selected_data = starbucks_data.loc[::40, ['calories', 'sugars', 'protein']]
selected_data

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [3]:
# select all rows with more than and including 400 calories
high_calorie_items = starbucks_data[starbucks_data['calories'] >= 400]
high_calorie_items

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
higher_vitamin_c_than_iron = starbucks_data[starbucks_data['vitamin c'] > starbucks_data['iron']]
higher_vitamin_c_than_iron

In [ ]:
# create a new column containing the caffeine per calories of each drink
starbucks_data['caffeine_per_calorie'] = starbucks_data['caffeine'] / starbucks_data['calories']
starbucks_data['caffeine_per_calorie'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)

In [4]:
# what is the average calorie across all items?
average_calories = starbucks_data['calories'].mean()
average_calories

In [5]:
# how many different categories of beverages are there?
unique_beverage_categories = starbucks_data['beverage_category'].nunique()
unique_beverage_categories

In [6]:
# what is the average # calories for each beverage category?
average_calories_per_category = starbucks_data.groupby('beverage_category')['calories'].mean()
average_calories_per_category

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64